-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: employeez
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `employee_information`
--

DROP TABLE IF EXISTS `employee_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_information` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Emp_Id` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `SSN` varbinary(256) DEFAULT NULL COMMENT 'Encrypted SSN',
  `FirstName` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `MiddleName` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `LastName` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ETYPE` enum('FT','PT','CONT','TEMP','INT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `DOB` date DEFAULT NULL,
  `Gender` enum('M','F','O') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Ethnicity` varchar(5) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Email` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `AltEmail` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Mobile` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Address` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `City` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `State` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Postalcode` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `EmgrCName` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `EmgrCAddress` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `EmgrCCity` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `EmgrCState` varchar(25) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `EmgrCPostalcode` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `EmgrCMobile` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Relationship` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `VisaType` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `VisaExpDate` date DEFAULT NULL,
  `IdType` enum('PP','DL','SSN','OTH') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `IdNumber` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `IdExpDate` date DEFAULT NULL,
  `HiringModelCode` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `HiringModel_Eff_Date` date DEFAULT NULL,
  `Salary` decimal(10,2) DEFAULT '0.00',
  `Salary_Eff_Dt` date DEFAULT NULL,
  `ProjectBonus` decimal(10,2) DEFAULT '0.00',
  `ProjBns_Eff_Dt` date DEFAULT NULL,
  `AnnualBonus` decimal(10,2) DEFAULT '0.00',
  `AnnBonusStartDate` date DEFAULT NULL,
  `AnnualBns_Eff_Dt` date DEFAULT NULL,
  `SemiAnnlBonus` decimal(10,2) DEFAULT '0.00',
  `SAnnBonusStartDate` date DEFAULT NULL,
  `SemiAnnlBns_Eff_Dt` date DEFAULT NULL,
  `Approver_Id` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `HR_Id` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Accounting_Id` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Role` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `JobTitle` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Department` varchar(25) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `SkillSet` varchar(250) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `HiringDate` date DEFAULT NULL,
  `Medical_Plan` enum('BASIC','PREMIUM','FAMILY','NONE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Medical_Coverage` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Dental_Coverage` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Vision_Coverage` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Life_Insurance` tinyint(1) DEFAULT NULL,
  `InsEff_Date` date NOT NULL,
  `Client_Name` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Client_Address` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Client_City` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Client_State` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Client_Postalcode` varchar(25) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Old_Comments` longtext COLLATE utf8mb4_unicode_ci,
  `New_Comments` longtext COLLATE utf8mb4_unicode_ci,
  `Business_Unit` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `OriginalFinder` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CreateDate` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ModifiedDate` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `LastModifiedBy` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Payroll_Id` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Pay_Schedule` enum('Weekly','Biweekly','Monthly') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Monthly',
  `CustomTS` tinyint(1) DEFAULT NULL,
  `AdminTS` tinyint(1) DEFAULT NULL,
  `PartialTS` tinyint(1) DEFAULT NULL,
  `Floater` tinyint(1) DEFAULT NULL,
  `PunchIn` tinyint(1) DEFAULT '0',
  `Category` char(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Time_Approver` tinyint(1) DEFAULT NULL,
  `HL_Employee` tinyint(1) DEFAULT NULL,
  `Status` enum('Active','Inactive','Terminated','LOA') COLLATE utf8mb4_unicode_ci DEFAULT 'Active',
  `Contribution_401K` tinyint(1) DEFAULT NULL,
  `Amount_401K` decimal(8,2) DEFAULT NULL,
  `Percentage_401K` decimal(5,2) DEFAULT NULL,
  `Eff_Date_401K` date NOT NULL,
  `Termination_Date` date DEFAULT NULL,
  `Supplier_Id` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Bulk_Upload` enum('Yes','No') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ActiveFlag` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Emp_Id_UNIQUE` (`Emp_Id`),
  KEY `idx_status` (`Status`),
  KEY `idx_department` (`Department`),
  KEY `idx_client` (`Client_Name`),
  KEY `idx_hiring_date` (`HiringDate`),
  CONSTRAINT `chk_percentage_401k` CHECK ((`Percentage_401K` between 0 and 100)),
  CONSTRAINT `chk_salary` CHECK ((`Salary` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_information`
--

LOCK TABLES `employee_information` WRITE;
/*!40000 ALTER TABLE `employee_information` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_information` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-03-17 17:02:54
